@model DevBlog.Models.BlogEntry;

<div class="intro">
    <h1>
        @Model.Title
    </h1>
    <p>
        @Model.Description
    </p>
</div>

<div class="content-container">
    <p>
        @Model.Content
    </p>
</div>