<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dev Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="icon" href="favicon.ico">
</head>

<body>

<script src="js/script.js"></script>

<ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="https://github.com/chris-dykes-j">GitHub</a></li>
    <li><a href="javascript:toggleDark()">Dark Mode Toggle</a></li>
</ul>

<div id="banner-container">
    <h1 id="banner-title">Dev Blog</h1>
    <img src="images/logo.png" id="banner-image" alt="site logo"/>
</div>

@RenderBody()

<footer>
    <section id="copyleft">&#127279; 2022</section>
</footer>

</body>

</html>