<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>

<body>
<ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a>Dark/Light Mode</a></li>
</ul>

<div id="banner-container">
    <img src="images/logo.png" id="banner-image" alt="site logo"/>
    <h1 id="banner-title">Dev Blog</h1>
</div>

@RenderBody()

<footer>
    <section id="copyleft">&#127279; 2022</section>
</footer>

</body>

</html>