@{
    ViewData["Title"] = "Home Page";
}

<div id="intro">
    <p>Hello, and welcome to my dev blog!</p>
    <br>
    <p>I make posts about software, programming, and topics I am learning.</p>
</div>
