@{
    ViewData["Title"] = "About";
}

<div class="intro">
    <h1 id="page-title">
        About Me
    </h1>
</div>

<div class="content-container"> 
    <p id="page-content">My name is Chris and I'm a web developer. My hobbies include writing applications, playing drums, and gaming.
        
        If you'd like to check out some of my work (including this website) you can check out my <a href="https://github.com/chris-dykes-j" class="blog-link">github profile</a>.
    </p>
</div>
